body {
	font-family: 'Courier New', monospace;
	background: #121212;
	margin: 30px;
	color: #e6e6e6;
	}
main {
	background: #1a1a1a;
	max-width: 800px;
	margin: auto;
}
.text {
	display: block;
	margin: 0 10px;	
}
h1, h2, h3 {
	text-align: center;
}
a:link {
	color: #4d9900;
	text-decoration: none;
    }
a:visited {
	color: #4d9900;
    }
a:hover, a:active {
	color: #a3ff00;
	}
