a{
	color: #ddb500
}
a:visited{
	color: #ddb500;
}
a:hover{
	cursor: url("img/sonic2.gif"), auto;
	color: gold;
}
html{
	position: relative;
	min-height: 100%;
}
body{
	font-family: monospace;
	color: gold;
	background: #403322;
	cursor: url("img/sonic.gif"), auto;
	margin-bottom: 300px;
}
main{
	padding-bottom: 2.5rem;
	background: #13214a;
	margin: 10%;
	margin-top: 1%;
	outline-style: outset;
	outline-width: 4px;
	outline-color: gold;
}
.text{
	margin: 1px 15px 0;
	display: inline-block;
}
footer{
	background: #13214a;
	position: absolute;
	width: 100%;
	bottom:0;
	left:0;
	margin-top: 10px;
	min-height: 100px;
}
.gif{
	max-width: 150px;
}
			
.butn{
	height: 50px;
	margin: 2px;
}
			
.balls{
	margin: 1%;
}